<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alexmillerning.mapper.BindmapMapper" >
  <resultMap id="BaseResultMap" type="com.alexmillerning.pojo.Bindmap" >
    <result column="SERVICEID" property="serviceid" jdbcType="VARCHAR" />
    <result column="STYPE" property="stype" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="PROTOCOLID" property="protocolid" jdbcType="VARCHAR" />
    <result column="MAPTYPE" property="maptype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SERVICEID, STYPE, LOCATION, VERSION, PROTOCOLID, MAPTYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.alexmillerning.pojo.BindmapExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bindmap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.alexmillerning.pojo.BindmapExample" >
    delete from bindmap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alexmillerning.pojo.Bindmap" >
    insert into bindmap (SERVICEID, STYPE, LOCATION, 
      VERSION, PROTOCOLID, MAPTYPE
      )
    values (#{serviceid,jdbcType=VARCHAR}, #{stype,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{protocolid,jdbcType=VARCHAR}, #{maptype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alexmillerning.pojo.Bindmap" >
    insert into bindmap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceid != null" >
        SERVICEID,
      </if>
      <if test="stype != null" >
        STYPE,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="protocolid != null" >
        PROTOCOLID,
      </if>
      <if test="maptype != null" >
        MAPTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceid != null" >
        #{serviceid,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        #{stype,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="protocolid != null" >
        #{protocolid,jdbcType=VARCHAR},
      </if>
      <if test="maptype != null" >
        #{maptype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alexmillerning.pojo.BindmapExample" resultType="java.lang.Integer" >
    select count(*) from bindmap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bindmap
    <set >
      <if test="record.serviceid != null" >
        SERVICEID = #{record.serviceid,jdbcType=VARCHAR},
      </if>
      <if test="record.stype != null" >
        STYPE = #{record.stype,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        LOCATION = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.protocolid != null" >
        PROTOCOLID = #{record.protocolid,jdbcType=VARCHAR},
      </if>
      <if test="record.maptype != null" >
        MAPTYPE = #{record.maptype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bindmap
    set SERVICEID = #{record.serviceid,jdbcType=VARCHAR},
      STYPE = #{record.stype,jdbcType=VARCHAR},
      LOCATION = #{record.location,jdbcType=VARCHAR},
      VERSION = #{record.version,jdbcType=VARCHAR},
      PROTOCOLID = #{record.protocolid,jdbcType=VARCHAR},
      MAPTYPE = #{record.maptype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>