<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alexmillerning.mapper.WFUnitMapper" >
  <resultMap id="BaseResultMap" type="com.alexmillerning.pojo.WFUnit" >
    <id column="UNIT_ID" property="unitId" jdbcType="INTEGER" />
    <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="UNIT_DES" property="unitDes" jdbcType="VARCHAR" />
    <result column="UNIT_REMARK" property="unitRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UNIT_ID, UNIT_NAME, UNIT_DES, UNIT_REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.alexmillerning.pojo.WFUnitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from w_f_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from w_f_unit
    where UNIT_ID = #{unitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from w_f_unit
    where UNIT_ID = #{unitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.alexmillerning.pojo.WFUnitExample" >
    delete from w_f_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alexmillerning.pojo.WFUnit" >
    insert into w_f_unit (UNIT_ID, UNIT_NAME, UNIT_DES, 
      UNIT_REMARK)
    values (#{unitId,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{unitDes,jdbcType=VARCHAR}, 
      #{unitRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alexmillerning.pojo.WFUnit" >
    insert into w_f_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitId != null" >
        UNIT_ID,
      </if>
      <if test="unitName != null" >
        UNIT_NAME,
      </if>
      <if test="unitDes != null" >
        UNIT_DES,
      </if>
      <if test="unitRemark != null" >
        UNIT_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitDes != null" >
        #{unitDes,jdbcType=VARCHAR},
      </if>
      <if test="unitRemark != null" >
        #{unitRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alexmillerning.pojo.WFUnitExample" resultType="java.lang.Integer" >
    select count(*) from w_f_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update w_f_unit
    <set >
      <if test="record.unitId != null" >
        UNIT_ID = #{record.unitId,jdbcType=INTEGER},
      </if>
      <if test="record.unitName != null" >
        UNIT_NAME = #{record.unitName,jdbcType=VARCHAR},
      </if>
      <if test="record.unitDes != null" >
        UNIT_DES = #{record.unitDes,jdbcType=VARCHAR},
      </if>
      <if test="record.unitRemark != null" >
        UNIT_REMARK = #{record.unitRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update w_f_unit
    set UNIT_ID = #{record.unitId,jdbcType=INTEGER},
      UNIT_NAME = #{record.unitName,jdbcType=VARCHAR},
      UNIT_DES = #{record.unitDes,jdbcType=VARCHAR},
      UNIT_REMARK = #{record.unitRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alexmillerning.pojo.WFUnit" >
    update w_f_unit
    <set >
      <if test="unitName != null" >
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitDes != null" >
        UNIT_DES = #{unitDes,jdbcType=VARCHAR},
      </if>
      <if test="unitRemark != null" >
        UNIT_REMARK = #{unitRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where UNIT_ID = #{unitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alexmillerning.pojo.WFUnit" >
    update w_f_unit
    set UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      UNIT_DES = #{unitDes,jdbcType=VARCHAR},
      UNIT_REMARK = #{unitRemark,jdbcType=VARCHAR}
    where UNIT_ID = #{unitId,jdbcType=INTEGER}
  </update>
</mapper>